* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.3);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg: url(./assets/moonstars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.3);
  --surface-color: rgba(0, 0, 0, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.05);
  --highlight-color: rgba(0, 0, 0, 0.2);
  --switch-bg: url(./assets/sun.svg);
}

body {
  /* Modo detalhado:
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: top;
  background-size: cover;
  */

  /* Modo de comandos agrupados: 
  background: color image position/size */
  background: var(--bg-url) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

/* Avatar */
#icon {
  text-align: center;
  padding: 24px;
}

#container {
  width: 360px;
  margin: auto;
  margin-top: 56px;
  padding: 0 24px;
}

#icon img {
  display: block;
  width: 112px;
  margin: auto;
}

#icon p1 {
  font-weight: 400;
  margin-top: 8px;
  display: block;
  font-size: 24px;
}

#icon p2 {
  font-weight: 400;
  line-height: px;
  margin-top: 4px;
  display: block;
  font-size: 12px;
}

/* Botão Switch */
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg) no-repeat center;
  border-radius: 50%;
  border: 0;

  right: 0;
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}

.light #switch button {
  left: 0;
  right: initial;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  border-radius: 9999px;
  border: 1px solid var(--stroke-color);
  background: var(--surface-color);
  backdrop-filter: blur(4px);
}

/* Links */
ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding-top: 24 0px;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px 24px;

  border-radius: 8px;
  border: 1px solid var(--stroke-color);
  background: var(--surface-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500px;

  transition: all 0.2s;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/* Icones-Links */
#social-links {
  display: flex;
  justify-content: center;

  padding: 24px;

  font-size: 27px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  padding: 24px;
  text-align: center;
  font-size: 14px;
  font-style: italic;
}

#list {
  padding-top: 24px;
}
